@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
body {
  background: #12232E;
  padding-left: 50px;
  padding-right: 50px;
}

* {
  box-sizing: border-box;
}



.square {
  display: flex;
  flex-wrap : wrap;
  align-items: stretch;
  float: left;
}

.square {
  width: 200px;
  height: 400px;
  margin: 10px;
  border: 1px solid #203647;
  box-shadow: 2px 2px 6px 0px rgba(36, 73, 80, 0.3);
  background-color: white;
}

.square img {
  max-width: 100%;
  max-height: 250px;  
  padding-top: 10px;
  padding-left: 5%;
  //object-fit: cover;
}

.container {
  background-color: #007cc7;
  padding-top: 15px;  
  width: 100%;

  
}

.square .container .text{
  padding: 0 20px 20px ;
  line-height: 20px;  
  color : #dcebf5;
  font-weight: bold;
}

.square .container .text > button {
  background:#203647;
  border: 0;
  color: #FDF8F5;
  padding: 10px;
  width: 150px;
  justify-content: center;
  align-items: center;
}

.square:nth-child(1){
  width: 420px;
}




.leftp{
  display: block;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  max-height: 16px;
  line-height: 16px;
}

.rightp{
  float: left;
  padding-right: 10px;
  //text-align: right;
}

.topnav {
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 50px;
 
}

.topnav .logoText {
  float: left;
  color : #eefbfb;
  font-weight: bold;
  font-family: 'Syne Mono', monospace;
  font-size: 50px;
}

.topnav .linktext {
  float: right;
  color : #eefbfb;
  width: auto;
  padding-left: 30px;
}

form {
  max-width: 800px;
  margin: 0 auto;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border:1px solid white;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

input[type="submit"],
button {
  background: #266150;
  color: white;
  //text-transform: uppercase;
  text-align: center;
  border: none;
  margin-top: 20px;
  padding: 20px;
  font-size: 14px;
  letter-spacing: 3px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
  font-weight: lighter;
};

h2{
  text-align: center;
  color: rgb(41, 68, 67);
  font-weight: lighter;
}