@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");
html {
  // position: relative;
  // background-image: url('./background6.jpg');
  // background-size: cover;
  background-color:#f5f6f8;
  padding-left: 50px;
  padding-right: 50px;
  
}

* {
  box-sizing: border-box;
}



.square {
  //display: flex;
  flex-wrap : wrap;
  align-items: stretch;
  float: left;
}

.square {
  display: flex;
  width: 300px;
  height: 450px;
  margin: 10px;
  border: 1px solid #565656;
  box-shadow: 2px 2px 6px 0px rgba(36, 73, 80, 0.3);
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.square img {
  margin-top: 10px;
  height: 220px;
  width: 220px;
  object-fit: scale-down;
  border-radius: 50%;
  border: 1px solid #272133;
  //object-fit: cover;
}

.container {
  background-color: #DCC7AA;
  padding-top: 10px;  
  width: 100%;
  height: 20%;

  
}

.square .container .text{
  padding: 0 20px 20px ;
  line-height: 20px;  
  color : #333233;
  font-weight: bold;
  font-family: 'Baloo Paaji 2', cursive;
}

.square .container .text > button {
  background:#203647;
  border: 0;
  color: #FDF8F5;
  padding: 10px;
  width: 150px;
  justify-content: center;
  align-items: center;
  

}

.square:nth-child(1){
  width: 300px;
}




.leftp{
  display: block;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  max-height: 16px;
  line-height: 16px;
}

.rightp{
  float: left;
  padding-right: 10px;
  //text-align: right;
}

.topnav {
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 0px;
 
}

.mainNav {
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: right;
  
 
}

.topnav .logoText {
  float: left;
  color : #151616;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
}

.mainNav .linktext {
  // float: right;
  color : #131414;
  font-weight: bold;
  width: auto;
  padding-left: 30px;
  display: inline-block;
}

form {
  max-width: 400px;
  margin: 15% auto;
  //margin-top: 15%;
  border: 2px solid #dcebf5 ;
  padding: 10px 10px 30px 10px;
  border-radius: 10px;
  background-color:#DCC7AA;
}

input {
  display: block;
  box-sizing: border-box;
  width: 80%;
  border-radius: 4px;
  border:1px solid white;
  padding: 10px 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 14px;
}

input[type="submit"],
button {
  background: #6B7A8F;
  color: whitesmoke;
  //text-transform: uppercase;
  text-align: center;
  border: none;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  appearance: none;
  border-radius: 8px;
  width: 35%;
  font-weight: lighter;
};

h2{
  text-align: center;
  color : #203647;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

#logout {
  width: 70px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  background-color: #DCC7AA;
  color: #12232E;
  display: inline-block;
}

#delete, #buy {  
  margin-top: 10px;
  width: fit-content;
  height: 40px;
  width: 150px;
  background-color: #352612;
  
}


.products {
  width: 100%;
  background-color: #DCC7AA;
}
